@model Product


<form method="post" asp-action="Edit">
    <fieldset>
        <legend>Them san pham</legend>
        <span class="text-danger">@ViewBag.Error</span>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        
        

        <div class="form-group">
            <label asp-for="Description">description</label>
            <input class="form-control" asp-for="Description" />
        </div>

        <div class="form-group">
            <label asp-for="Number">number stock</label>
            <input class="form-control" asp-for="Number" />
        </div>

        <div class="form-group">
            <label asp-for="Category">category</label>
            <input class="form-control" asp-for="Category" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>